@use 'sass:color';
@import 'variables';

fieldset {
  margin-bottom: 1rem;
}

.upload-box {
  overflow: hidden;
  position: relative;
  background: $light url('~/assets/icons/upload.svg') no-repeat center;
  background-size: 1.5rem;
  border: 1px solid color.adjust($light, $blackness: 10%);
  transition: background $transition;
  cursor: pointer;
  min-height: 6rem;
  border-radius: $border-radius;

  & > img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &.uploading {
    background-image: none;
  }

  &:hover {
    background-color: color.adjust($light, $blackness: 10%);
    border-color: 1px solid $secondary;
    background-size: 2rem;
  }

  &::after {
    outline: 1px solid red;
    content: '';
    background-color: rgba($success, 0.25);
    opacity: 0;
    transition: opacity $transition;
    pointer-events: none;
    position: absolute;
    inset: 0;
  }

  &.drag-over {
    background-color: transparent;

    &::after {
      opacity: 1;
    }
  }

  .upload-items {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
  }
}

#three-column {
  .main-background {
    position: relative;
    transition: height $transition-speed;
    height: 0;
    overflow: hidden;

    img {
      height: 240px;
      width: 100%;
      object-fit: cover;
    }

    &::after {
      background-color: rgb(0 0 0 / 20%);
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .main-cols {
    position: relative;
    top: 0;
    transition: top $transition-speed;

    .col-start,
    .col-center,
    .col-end {
      background: $white;
      height: 100%;
      border: 1px solid $border-color;
      border-radius: $border-radius;
    }

    .col-start,
    .col-end {
      padding: 1rem;
    }

    .col-start {
      position: relative;
      top: 0;
      transition: top $transition-speed;

      .main-poster {
        max-width: 225px;
        margin: auto;

        img {
          border-radius: $border-radius;
        }
      }
    }
  }

  &.main-page {
    .main-background {
      height: 240px;
    }

    .main-cols {
      position: relative;
      top: -200px;
    }
  }

  @include media-breakpoint-up(lg) {
    &.main-page {
      .main-cols {
        top: 0;

        .col-start {
          top: -200px;
        }
      }
    }
  }
}