@use 'sass:color';
@import 'variables';

fieldset {
  margin-bottom: 1rem;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-pre {
  white-space: pre-line;
}

.upload-box {
  overflow: hidden;
  position: relative;
  background: $light url('~/assets/icons/upload.svg') no-repeat center;
  background-size: 1.5rem;
  border: 1px solid color.adjust($light, $blackness: 10%);
  transition: background $transition;
  cursor: pointer;
  min-height: 6rem;
  border-radius: $border-radius;

  & > img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &.uploading {
    background-image: none;
  }

  &:hover {
    background-color: color.adjust($light, $blackness: 10%);
    border-color: 1px solid $secondary;
    background-size: 2rem;
  }

  &::after {
    outline: 1px solid red;
    content: '';
    background-color: rgba($success, 0.25);
    opacity: 0;
    transition: opacity $transition;
    pointer-events: none;
    position: absolute;
    inset: 0;
  }

  &.drag-over {
    background-color: transparent;

    &::after {
      opacity: 1;
    }
  }

  .upload-items {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
  }
}

#layout-columns {
  .main-background {
    position: relative;
    transition: height $transition-speed;
    height: 0;
    overflow: hidden;

    img {
      height: 240px;
      width: 100%;
      object-fit: cover;
    }

    &::before {
      background-color: rgb(0 0 0 / 20%);
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  .main-columns {
    position: relative;

    .offset {
      position: relative;
      margin-top: 0;
      transition: margin-top $transition-speed;
    }

    .column {
      background: $white;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      padding: 1rem;
    }
  }

  &.main-page {
    .main-background {
      height: 240px;
    }

    .main-columns {
      .offset {
        margin-top: -200px;
      }
    }
  }
}

#sidebar {
  z-index: $zindex-sticky - 10;
  padding-top: 4rem;
}

.subscriptions {
  .level {
    display: flex;
    flex-flow: nowrap column;
    row-gap: 0.25rem;
    padding: 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }

    .title {
      font-weight: bold;
    }

    .cover {
      img {
        height: 150px;
        object-fit: cover;
        width: 100%;
      }
    }

    .content {
      white-space: pre-line;
      font-size: 0.875em;
    }

    .btn {
      width: 100%;
    }
  }
}

.topic {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.5rem;

  &.teaser {
    .text {
      white-space: pre-line;
    }

    .cover {
      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 384px;
      }
    }
  }
}

footer {
  .vesp-change-locale {
    max-width: 200px;
    margin: auto;
  }

  a {
    color: inherit;
  }
}