pre.highlighted {
  background-color: var(--bs-tertiary-bg);
  border-radius: $border-radius;
}

// stylelint-disable-next-line
.codeflask__textarea {
  caret-color: var(--bs-body-color) !important;
}

code {
  color: var(--bs-body-color);

  .token {
    &.punctuation {
      color: var(--bs-secondary);
    }

    &.keyword {
      color: var(--bs-danger);
    }

    /* &.operator {
      color: $red;
    } */

    &.string {
      color: var(--bs-blue);
    }

    &.comment {
      color: var(--bs-secondary)
    }

    &.function {
      color: var(--bs-orange);
    }

    &.boolean {
      color: var(--bs-orange);
    }

    &.number {
      color: var(--bs-orange);
    }

    &.selector {
      color: var(--bs-orange);
    }

    &.property {
      color: var(--bs-orange);
    }

    &.tag {
      color: var(--bs-orange);
    }

    &.package {
      color: var(--bs-orange);
    }

    &.class-name {
      color: var(--bs-orange);
    }

    &.attr-value {
      color: var(--bs-orange);
    }
  }
}