@use "sass:color";

#topic-comments {
  .comments-thread {
    margin-left: 1.5rem;

    .comment {
      margin-top: 2rem;

      &-header {
        display: flex;
        flex-flow: wrap column;
        line-height: 1.5rem;
        transition: background-color 0.25s;

        .comment-user {
          display: flex;
          align-items: center;
        }

        .comment-date {
          a {
            font-size: 0.8em;
            color: var(--bs-secondary);
          }
        }

        .comment-link {
          font-size: 0.8em;
          margin-left: 1rem;
        }
      }

      &-text {
        margin-top: 0.25rem;
        padding: 0.75rem 0.5rem;
        border-radius: $border-radius;
        border: 1px solid var(--bs-border-color);
        box-shadow: 0 0 $border-radius var(--bs-secondary-bg);
        word-break: break-word;
        transition: all 0.25s;

        .comment-content {
          @extend %editor-content;
        }
      }

      &-footer {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;

        & > div {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }

        .action {
          display: none;
        }
      }

      &.author {
        .comment-header {
          background-color: #f5fbe5;
        }
      }

      &.admin {
        .comment-user {
          color: var(--bs-danger-rgb);
        }
      }

      &.deleted {
        .comment-text {
          color: var(--bs-warning-text-emphasis);
          border-color: var(--bs-warning-border-subtle);
          background-color: rgba(var(--bs-warning-rgb), 0.25);
        }
      }

      &.unseen {
        .comment-header {
          background-color: #e7f3ff;
        }
      }

      &.paid {
        .comment-user {
          color: var(--bs-success);
        }
      }
    }

    #comments-form {
      margin-top: 1rem;
    }
  }

  & > .comments-thread {
    margin-left: 0;
  }

  @include media-breakpoint-up(md) {
    .comments-thread {
      .comment {
        &-header {
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
        }

        &-text {
          img {
            max-width: 400px;
          }
        }

        &-footer {
          .btn,
          .user-reactions .button {
            padding: 0;
            font-size: 0.85rem;
          }

          .action {
            display: inline;
            margin-left: 0.25rem;
          }

          .user-reactions .button .btn-link {
            color: inherit;
            text-decoration: none;
          }
        }

        &:not(.deleted) {
          .comment-footer {
            .text-danger {
              opacity: 0;
              transition: opacity 0.25s;
            }
          }

          &:hover {
            .comment-footer {
              .text-danger {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

.widget {
  .comment {
    font-size: 90%;

    &-header,
    &-footer {
      display: flex;
      align-items: center;
      color: var(--bs-secondary);
    }

    &-text {
      margin: 0.25rem 0;
    }
  }
}