// stylelint-disable

%editor-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;

  pre, code {
    color: inherit;
    background-color: $light;
  }

  blockquote {
    background: $light;
    border-left: 3px solid $secondary;
    padding: 0.25rem 0.5rem;

    p {
      margin: 0;
    }
  }
}

.editorjs {
  .codex-editor__redactor {
    @extend %editor-content;
  }

  .ce-toolbar__plus,
  .cdx-search-field {
    display: none;
  }

  .cdx-block {
    padding: 0;
  }

  @media (width < 651px) {
    .ce-toolbar__actions {
      right: unset;
      left: -0.25rem;
    }
  }

  @media (width >= 651px) {
    .ce-block__content,
    .ce-toolbar__content {
      max-width: unset;
    }

    .ce-block__content {
      margin-left: 1rem;
    }

    .ce-toolbar__content {
      margin-left: 1.25rem;
    }
  }
}