@mixin user-content {
  overflow: hidden;

  pre,
  code {
    color: inherit;
    background-color: $light;
  }

  blockquote {
    background: $light;
    border-left: 3px solid $secondary;
    padding: 0.25rem 0.5rem;

    p {
      margin: 0;
    }
  }
}