#payment {
  .subscription {
    padding: 1rem;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  }

  .item {
    background-color: var(--bs-secondary-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: 0.75rem;
    cursor: pointer;
    transition: background-color 0.25s, border 0.25s;

    &.active {
      background-color: rgba(var(--bs-primary-rgb), 0.125);
      border-color: var(--bs-primary);
      cursor: default;
    }
  }

  .levels,
  .services,
  .periods,
  .variants {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
  }

  .levels,
  .variants {
    flex-flow: row nowrap;

    .item {
      flex-basis: 50%;
      cursor: default;
    }
  }

  .services {
    .item {
      img {
        max-height: 50px;
        max-width: 124px;
      }
    }
  }

  .periods {
    .item {
      flex-grow: 1;
    }
  }

  .variants {
    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .price {
    font-size: 2rem;
  }
}

.subscriptions {
  .level {
    display: flex;
    flex-flow: nowrap column;
    row-gap: 0.25rem;

    &:not(:last-child) {
      padding-bottom: $widget-items-gap;
      border-bottom: 1px solid var(--bs-border-color);
    }

    .title {
      font-weight: bold;
    }

    .cover {
      img {
        height: 150px;
        object-fit: cover;
        width: 100%;
      }
    }

    .content {
      white-space: pre-line;
    }

    .btn {
      width: 100%;
    }
  }
}