.topic {
  display: flex;
  flex-flow: column nowrap;

  .topic-header {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
  }

  .topic-form {
    position: relative;

    .topic-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $light;
      padding: 1rem;
      border-radius: $border-radius;
      margin: -1rem -1rem 1rem;
      position: sticky;
      top: 3.5rem;
      z-index: $zindex-sticky - 1;
    }
  }

  .topic-content {
    @extend %editor-content;

    img {
      display: block;
      margin: auto;
    }
  }

  .topic-cover {
    height: 400px;
    position: relative;
    z-index: 0;

    .background {
      position: absolute;
      inset: 0;
      object-fit: cover;
      z-index: -1;
      width: 100%;
      height: 100%;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem;
      color: $white;
      height: 100%;
      background: rgba($black, 0.5);

      .text {
        white-space: pre-wrap;
      }

      .action {
        text-align: center;
      }
    }
  }

  .topic-footer {
    display: flex;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid $border-color;
  }

  &.teaser {
    background: $white;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    overflow: hidden;

    h2 {
      a {
        color: inherit;
        text-decoration: underline;

        &:hover {
          color: $link-hover-color;
        }
      }
    }

    .topic-footer {
      margin-top: 0;
      padding: 1rem;
      border-top: none;
    }
  }
}

.topics {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}