$transition: 0.25s;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    2xl: 1400px,
    3xl: 1700px,
);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    2xl: 1340px,
    3xl: 1620px,
);
$modal-header-border-width: 0;

@import "bootstrap-scss/functions";
@import "bootstrap-scss/variables";
@import "bootstrap-scss/variables-dark";