$enable-cssgrid: true;
$transition: 0.25s;
$grid-breakpoints: (
    xs: 0,
    md: 768px,
    lg: 1100px,
    xl: 1600px,
);
$container-max-widths: (
    // md: 768px,
    lg: 1140px,
    xl: 1520px,
);
$modal-header-border-width: 0;
$transition-speed: 0.25s;
$offcanvas-horizontal-width: 350px;
$link-decoration: none;
$link-hover-decoration: underline;
$widget-items-gap: 1.5rem;

@import "bootstrap-scss/functions";
@import "bootstrap-scss/variables";
@import "bootstrap-scss/variables-dark";

$plyr-color-main: $primary;
$kbd-bg: $gray-200;
$kbd-color: $body-color;