$enable-cssgrid: true;
$grid-breakpoints: (
    xs: 0,
    md: 768px,
    lg: 1100px,
    xl: 1400px
);
$container-max-widths: (
    // md: 768px,
    lg: 1140px,
    xl: 1320px,
);
$modal-header-border-width: 0;
$transition-speed: 0.25s;
$offcanvas-horizontal-width: 350px;
$link-decoration: none;
$link-hover-decoration: underline;
$widget-items-gap: 1.5rem;

@import "bootstrap-scss/functions";
@import "bootstrap-scss/variables";
@import "bootstrap-scss/variables-dark";

$kbd-bg: var(--bs-tertiary-bg);
$kbd-color: var(--bs-body);