.vesp-table {
  .b-table {
    tr {
      &.inactive {
        td:not(.actions) {
          opacity: 0.5;
        }
      }

      &.error {
        td:not(.actions) {
          color: var(--bs-danger);

          .text-muted {
            color: var(--bs-danger) !important;
          }
        }
      }

      &.blocked {
        td:not(.actions) {
          color: var(--bs-tertiary-color);

          .text-muted {
            color: var(--bs-tertiary-color) !important;
          }
        }
      }
    }
  }
}